doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style.css')

  body
    block content

    script(src='https://unpkg.com/@reactivex/rxjs@5.4.3/dist/global/Rx.min.js')
    script(src='/client.js')
