body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(230, 230, 230);
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  margin: 10px auto;
}

input {
  width: 200px;
  margin: 100px auto;
  font-size: 40px;
  text-align: center;
  color: #666;
}
