body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(230, 230, 230);
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  margin: 10px auto;
}
