body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(230, 230, 230);
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  margin: 10px auto;
}

input {
  width: calc(250px - 16px);
  margin: 20px auto;
  font-size: 36px;
  text-align: center;
  color: #666;
  border: none;
  outline: none;
  padding: 8px;
}
